---
import type { Tables } from '@/types/database.types'
import { Image } from 'astro:assets'

interface Props {
  id: Tables<'albums'>['id']
  title: Tables<'albums'>['title']
  artist: Tables<'albums'>['artist']
  imageUrl: Tables<'albums'>['imageUrl']
}

const { id, title, artist, imageUrl }: Props = Astro.props
---

<li class="hover:bg-rich-dark-jungle/30 transition-background flex-grow">
  <a
    href={`/album/${id}`}
    class="tap-highlight-transparent data-[focus-visible=true]:outline-focus text-medium text-primary hover:opacity-hover active:opacity-disabled relative flex w-full items-center gap-1.5 p-2 px-3 py-1.5 no-underline outline-hidden transition-opacity data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-offset-2"
  >
    <div class="relative aspect-square h-auto w-11">
      <Image
        class="absolute h-full w-full rounded-md object-cover"
        src={imageUrl ?? ''}
        alt={title}
        width={44}
        height={44}
      />
    </div>
    <div class="flex-initial flex-col items-start justify-center">
      <h4 class="text-sealsalt text-small font-semibold">
        {title}
      </h4>
      <p class="text-gray-dim text-xs">
        {artist}
      </p>
    </div>
  </a>
</li>
