---
import { UsersRound } from '@lucide/astro'
import OnlineUserList from '@/components/react/online-user-list'
import LoginRequired from '@/components/astro/login-required.astro'
---

<div class="flex h-full w-full flex-col">
  <header class="flex h-20 w-full items-center gap-x-2 px-3">
    <UsersRound class="text-sealsalt" size={22} />
    <h3 class="text-sealsalt text-large font-semibold">Lo que escuchan</h3>
  </header>
  <OnlineUserList type="room" client:load transition:persist transition:name="online-users">
    <LoginRequired class="max-w-56 text-center" message="¡Únete y vibra con lo que escuchan los demás!" />
  </OnlineUserList>
</div>
