---
import FeaturedSongsList from '@/components/astro/featured-songs-list.astro'
import MadeForYou from '@/components/astro/made-for-you.astro'
import Greeting from '@/components/react/greeting'
import Settings from '@/components/react/settings'
const user = Astro.locals.user
---

<section class="grid-row-1 grid h-full">
  <div
    class="scrollbar scrollbar-w-1 scrollbar-thumb-rounded-full scrollbar-thumb-rich-dark-jungle overflow-y-auto"
  >
    <div class="relative flex h-24 w-full items-center justify-between px-3">
      <Greeting client:visible className="text-platinum" />
      <Settings client:visible user={user} />
    </div>
    <div class="flex h-0 flex-col px-3">
      <FeaturedSongsList />
      <MadeForYou />
      <!-- <Trending /> -->
    </div>
  </div>
</section>
