---
import Song from '@/components/astro/song.astro'
import { albums as featuredSongs } from '@/types/test.design'
---

<div
  class="relative grid w-full grid-cols-2 grid-rows-3 gap-x-4 gap-y-4 md:grid-cols-3 xl:grid-cols-4 xl:grid-rows-2"
>
  {
    featuredSongs.map((song) => (
      <Song
        id={song.id}
        title={song.title}
        artist={song.artist}
        imageUrl={song.imageUrl}
      />
    ))
  }
</div>
