---
import FeaturedSongsList from '@/components/astro/featured-songs-list.astro'
---

<section class="grid-row-1 grid h-full px-3">
  <div
    class="scrollbar scrollbar-w-1 scrollbar-thumb-rounded-full scrollbar-thumb-rich-dark-jungle overflow-y-auto"
  >
    <div class="flex h-0 flex-col">
      <FeaturedSongsList />
    </div>
  </div>
</section>
