---
import Song from '@/components/astro/song.astro'
const featuredSongs = [
  {
    id: '1',
    title: 'Random Access Memories',
    artist: 'Daft Punk',
    imageUrl:
      'https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937',
  },
  {
    id: '2',
    title: 'To Pimp a Butterfly',
    artist: 'Kendrick Lamar',
    imageUrl:
      'https://cdn.themedizine.com/2021/02/to_pimp_a_butterfly_KendricK_The_Medizine.jpg',
  },
  {
    id: '3',
    title: 'Abbey Road',
    artist: 'The Beatles',
    imageUrl:
      'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLNXVFoyb-XFiDKaw5AULg8HGxIHvRiNrLEA&s',
  },
  {
    id: '4',
    title: '1989',
    artist: 'Taylor Swift',
    imageUrl:
      'https://www.lamusica.com.co/cdn/shop/files/CDTaylorSwift-1989_Taylor_sVersion.jpg?v=1702653793',
  },
  {
    id: '5',
    title: 'The Dark Side of the Moon',
    artist: 'Pink Floyd',
    imageUrl:
      'https://www.lamusica.com.co/cdn/shop/products/81aTawcGdmL._SL1500.jpg?v=1590757797',
  },
  {
    id: '6',
    title: 'El Mal Querer',
    artist: 'Rosalía',
    imageUrl:
      'https://i.scdn.co/image/ab67616d0000b273f4d64a6a6b7e24b6bd9f009f',
  },
  {
    id: '7',
    title: 'Un Verano Sin Ti',
    artist: 'Bad Bunny',
    imageUrl:
      'https://i.scdn.co/image/ab67616d0000b27349d694203245f241a1bcaa72',
  },
  {
    id: '8',
    title: 'Thriller',
    artist: 'Michael Jackson',
    imageUrl:
      'https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/field/images_to_insert/article/thriller_afiche.jpg',
  },
]
---

<div
  class="featured-songs-list relative grid w-full grid-cols-2 grid-rows-3 gap-x-4 gap-y-4 md:grid-cols-3 xl:grid-cols-4 xl:grid-rows-2"
>
  {
    featuredSongs.map((song) => (
      <Song
        id={song.id}
        title={song.title}
        artist={song.artist}
        imageUrl={song.imageUrl}
      />
    ))
  }
</div>
