---
import { getAllAlbums } from '@/lib/supabase/resources/albums'
import MadeForYouAlbum from '@/components/astro/made-for-you-album.astro'

const { request, cookies } = Astro

const albums = await getAllAlbums(request, cookies)
---

<div class="grid-section relative w-full">
  {albums.length > 0 && albums.map((album) => <MadeForYouAlbum {...album} />)}
</div>
