---
import { getAllAlbums } from '@/lib/supabase/resources/albums'
import MadeForYouAlbum from '@/components/astro/made-for-you-album.astro'

const { request, cookies } = Astro

const albums = await getAllAlbums(request, cookies, 6)
---

<div class="grid-section relative w-full">
  {
    albums.length > 0 &&
      albums.map((album) => (
        <MadeForYouAlbum id={album.id} title={album.title} artist={album.artist} imageUrl={album.imageUrl} />
      ))
  }
</div>
