---
import AuthUser from '@/components/react/auth-user'
import { Image } from 'astro:assets'
import logo from '@/assets/musicry.png'
---

<header id="settings-top-bar" class="bg-rich-black-light hidden h-24 items-center justify-between px-5 lg:flex">
  <div class="flex items-center gap-x-2">
    <Image src={logo} alt="Logo - Musicry" class="size-10" />
    <h2 class="text-platinum text-large font-bold">Musicry</h2>
  </div>
  <AuthUser client:visible className="hidden md:flex" />
</header>
