---
import { getUserAuth } from '@/utils/get-user-auth'
import AuthUser from '@/components/react/auth-user'

const user = await getUserAuth()

const isAdmin = user?.email === import.meta.env.EMAIL_ADMIN
---

<header
  id="settings-top-bar"
  class="bg-rich-black-light hidden h-24 items-center justify-between px-5 lg:flex"
>
  <h2 class="text-platinum text-large font-bold">Musicry</h2>
  <div class="hidden md:block">
    <AuthUser client:load user={user} isAdmin={isAdmin} />
  </div>
</header>
