---
import AuthUser from '@/components/react/auth-user'
import { Image } from 'astro:assets'
---

<header id="settings-top-bar" class="bg-rich-black-light hidden h-24 items-center justify-between px-5 lg:flex">
  <div class="flex items-center gap-x-2">
    <Image src="/images/musicry.png" alt="Logo - Musicry" width={32} height={32} />
    <h2 class="text-platinum text-large font-bold">Musicry</h2>
  </div>
  <AuthUser client:visible className="hidden md:flex" />
</header>
