---
import AuthUser from '@/components/react/auth-user'
const user = Astro.locals.user
---

<header
  id="settings-top-bar"
  class="bg-rich-black-light hidden h-24 items-center justify-between px-5 lg:flex"
>
  <h2 class="text-platinum text-large font-bold">Musicry</h2>
  <AuthUser client:visible className="hidden md:flex" user={user} />
</header>
