---
import { trackAlbumPageColumns, type TrackAlbumPageColumns } from '@/types/track'
import TrackList from '@/components/react/track-list'

interface Props {
  songs: TrackAlbumPageColumns['songs']
}

const { songs } = Astro.props

const songsModified = songs.map((song, index) => ({ ...song, index: index + 1 }))
---

<div class="grid-row-1 relative grid h-full bg-zinc-900/50">
  <div class="scrollbar scrollbar-w-1 scrollbar-thumb-rounded-full scrollbar-thumb-rich-dark-jungle overflow-y-auto">
    <TrackList
      client:visible
      selectionMode="single"
      classNames={{
        base: ['flex flex-col h-0'],
        thead: ['border-b border-gray-dim'],
        th: ['bg-transparent', 'text-gray-dim', 'border-divider'],
        td: [
          'first:before:rounded-none last:before:rounded-none',
          'before:bg-gray-500/40',
          'data-[selected=true]:text-platinum',
          'group-aria-[selected=false]/tr:group-data-[hover=true]/tr:before:bg-gray-500/20',
          'group-aria-[selected=true]/tr:group-data-[hover=true]/tr:before:bg-gray-500/40',
        ],
        tr: ['text-gray-dim'],
      }}
      removeWrapper
      rows={songsModified}
      columns={trackAlbumPageColumns}
    />
  </div>
</div>
