---
import MadeForYouAlbum from '@/components/astro/made-for-you-album.astro'
import { getAllAlbums } from '@/lib/supabase/resources/albums'

const { request, cookies } = Astro

const albums = await getAllAlbums(request, cookies)
---

<div class="grid-section relative w-full">
  {albums.map((album) => <MadeForYouAlbum {...album} />)}
</div>
