---
import MadeForYouAlbum from '@/components/astro/made-for-you-album.astro'
import { albums } from '@/types/test.design'
---

<div class="grid-section relative w-full">
  {albums.map((album) => <MadeForYouAlbum {...album} />)}
</div>
