---
import TrendingList from '@/components/astro/trending-list.astro'
---

<section class="relative w-full pb-40">
  <div class="flex h-24 items-center">
    <h4 class="text-platinum text-xl font-bold lg:text-2xl">Tendencias</h4>
  </div>
  <TrendingList />
</section>
