@import 'tailwindcss';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-night: #0a0d11;
  --color-rich-black-dark: #020406;
  --color-rich-black-light: #0d1117;
  --color-rich-dark-jungle: #171e28;
  --color-blue-argentinian: #69b7ff;
  --color-blue-silver: #588cc5;
  --color-blue-oxford: #0a2038;
  --color-gray-jet: #363636;
  --color-gray-dim: #676767;
  --color-gray-davy: #545454;
  --color-platinum: #dfdfdf;
  --color-sealsalt: #f7f7f7;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-sealsalt);
  }
}

html {
  font-family: 'CircularStd', system-ui, sans-serif;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/CircularStd-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/CircularStd-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/CircularStd-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.grid-section {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media (min-width: 550px) {
  .grid-section {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 1280px) {
  .grid-section {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
