@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-night: #0a0d11;
  --color-rich-black-dark: #020406;
  --color-rich-black-light: #0d1117;
  --color-rich-dark-jungle: #171e28;
  --color-argentinian-blue: #69b7ff;
  --color-silver-blue: #588cc5;
  --color-oxford-blue: #0a2038;
  --color-gray-jet: #363636;
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.95);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.9);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.85);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.8);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.75);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.7);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.65);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.6);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.55);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.5);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.45);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.4);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.35);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.3);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.25);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.2);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.15);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.1);
  --color-gray-jet-aplha-95: rgba(54, 54, 54, 0.05);
  --color-gray-dim: #676767;
  --color-platinum: #dfdfdf;
  --color-sealsalt: #f7f7f7;
}
