---
import Layout from '@/layouts/Layout.astro'
import TopBar from '@/components/astro/top-bar.astro'
import OnlineUserList from '@/components/react/online-user-list'
import LoginRequired from '@/components/astro/login-required.astro'

const { userId: targetuserId } = Astro.params
---

<Layout
  title={`Bandeja de entrada · Chats`}
  description={`Mensajes con ${targetuserId} en Musicry`}
  og={{
    title: `Bandeja de entrada · Chats`,
    description: `Mensajes con ${targetuserId} en Musicry.`,
    url: `https://musicry.vercel.app/messages/${targetuserId}`,
    image: 'https://updkpelnjajgwiyrzyhm.supabase.co/storage/v1/object/public/open-graph/og-musicry.jpg',
  }}
>
  <TopBar />
  <section class="top-night h-full w-full bg-linear-to-b from-[#161C25]">
    <OnlineUserList
      className={{
        scrollbar: 'border-gray-dim border-r',
      }}
      type="messages"
      client:load
      selectedUserId={targetuserId}
    >
      <LoginRequired
        class="max-w-96 text-center"
        message="¡No te pierdas las conversaciones musicales! Inicia sesión para ver quién está online y qué están escuchando ahora mismo."
      />
    </OnlineUserList>
  </section>
</Layout>
