---
import DashboardStats from '@/components/astro/dashboard-stats.astro'
import HeaderDashboard from '@/components/astro/header-dashboard.astro'
import LayoutDashboard from '@/layouts/layout-dashboard.astro'
import TabsWrapperContent from '@/components/astro/tabs-wrapper-content.astro'
---

<LayoutDashboard>
  <div class="relative flex h-full w-full flex-col">
    <HeaderDashboard />
    <DashboardStats />
    <TabsWrapperContent />
  </div>
</LayoutDashboard>
