---
import '@/styles/global.css'
import AsideRight from '@/components/astro/aside-right.astro'
import AsideLeft from '@/components/astro/aside-left.astro'
import Player from '@/components/react/player'
import { ClientRouter } from 'astro:transitions'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>
    <ClientRouter fallback="none" />
  </head>
  <body class="bg-rich-black-dark">
    <div id="app" class="relative h-screen">
      <aside
        class="bg-rich-black-light hidden flex-col rounded-tr-xl rounded-br-xl [grid-area:al] lg:flex"
      >
        <AsideLeft />
      </aside>
      <main
        class="bg-night relative overflow-hidden [grid-area:main] lg:rounded-bl-xl 2xl:rounded-br-xl"
      >
        <slot />
      </main>
      <aside
        class="bg-rich-black-light hidden flex-col rounded-tl-xl rounded-bl-xl [grid-area:ar] 2xl:flex"
      >
        <AsideRight />
      </aside>
      <footer class="bg-rich-black-light px-3 [grid-area:player]">
        <Player client:visible />
      </footer>
    </div>
  </body>
</html>

<style>
  html {
    font-family: 'CircularStd', system-ui, sans-serif;
  }

  body {
    overflow: hidden;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  #app {
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    gap: 8px;
    grid-template-rows: 1fr 80px;
    grid-template-areas:
      'al main ar'
      'player player player';
  }

  @media (max-width: 1536px) {
    #app {
      grid-template-columns: 320px 1fr;
      grid-template-rows: 1fr 80px;
      grid-template-areas:
        'al main'
        'player player';
    }
  }

  @media (width <= 64rem) {
    #app {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 50px;
      gap: 0;
      grid-template-areas:
        'main'
        'player';
    }
  }
</style>
