---
import '@/styles/global.css'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Dashboard</title>
  </head>
  <body class="bg-rich-black-dark">
    <div class="relative h-screen">
      <main class="relative h-full w-full overflow-hidden">
        <slot />
      </main>
    </div>
  </body>
</html>
