---
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'
import AsideRight from '@/components/astro/aside-right.astro'
import AsideLeft from '@/components/astro/aside-left.astro'
import MobileFooterNav from '@/components/astro/mobile-footer-nav.astro'
import ToastProvider from '@/components/react/toast-provider'
import PlayerWrapper from '@/components/react/player-wrapper'
import PresenceProvider from '@/context/presence-provider'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>
    <ClientRouter fallback="none" />
  </head>
  <body class="bg-rich-black-dark min-h-screen lg:overflow-hidden">
    <div id="app" class="relative h-full lg:h-screen">
      <ToastProvider client:load />
      <PresenceProvider client:load />
      <aside class="bg-rich-black-light hidden flex-col rounded-tr-xl rounded-br-xl [grid-area:al] lg:flex">
        <AsideLeft />
      </aside>
      <main class="bg-night relative w-full [grid-area:main] lg:overflow-hidden lg:rounded-bl-xl 2xl:rounded-br-xl">
        <slot />
      </main>
      <aside class="bg-rich-black-light hidden flex-col rounded-tl-xl rounded-bl-xl [grid-area:ar] 2xl:flex">
        <AsideRight />
      </aside>
      <PlayerWrapper client:load transition:name="media-player" transition:persist />
      <MobileFooterNav />
    </div>
  </body>
</html>

<style>
  #app {
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    gap: 8px;
    grid-template-rows: 1fr 80px;
    grid-template-areas:
      'al main ar'
      'player player player';
  }

  @media (max-width: 1536px) {
    #app {
      grid-template-columns: 320px 1fr;
      grid-template-rows: 1fr 80px;
      grid-template-areas:
        'al main'
        'player player';
    }
  }

  @media (width < 1024px) {
    #app {
      display: flex;
      min-height: 100vh;
    }
  }
</style>
